@keyframes rrn_slide_in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rrn_slide_out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.rrn-toaster {
    position: fixed;
    z-index: 999999;

    gap: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;

    &[data-position="top-right"] {
        top: 20px;
        right: 20px;
        align-items: flex-end;
    }

    &[data-position="top-left"] {
        top: 20px;
        left: 20px;
        align-items: flex-start;
    }
    &[data-position="bottom-right"] {
        bottom: 20px;
        right: 20px;
        align-items: flex-end;
    }
    &[data-position="bottom-left"] {
        bottom: 20px;
        left: 20px;
        align-items: flex-start;
    }
}

.rrn-toaster_toast {
    z-index: 99999;
    color: black;
    padding: 12px 12px;
    border-radius: 8px;
    background: white;

    gap: 8px;
    display: flex;
    align-items: center;

    min-width: 220px;
    max-width: 360px;
    position: relative;
    animation: rrn_slide_in 0.3s ease forwards;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

    &[data-type="success"] {
        border-left: 4px solid #4caf50;

        .icon {
            color: #4caf50;
        }
    }
    &[data-type="error"] {
        border-left: 4px solid #f44336;

        .icon {
            color: #f44336;
        }
    }
    &[data-type="info"] {
        border-left: 4px solid #2196f3;

        .icon {
            color: #2196f3;
        }
    }

    &[data-animation="fade-out"] {
        animation: rrn_slide_out 0.3s ease forwards;
    }
}

.rrn-toaster_toast_icon {
    font-size: 16px;
    width: fit-content;
    height: fit-content;

    svg {
        width: 20px;
        height: auto;
    }
}

.rrn-toaster_toast_message {
    flex-grow: 1;
    overflow-wrap: break-word;
}

.rrn-toaster_toast_close_btn {
    border: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    background: none;
}
